.section-basic-bg{
    position: relative;
    background-color: #25232A;
    width: 100%;
    min-height: 105vh;
    overflow:hidden;
}

.section-basic-bg.large{
    position: relative;
    background-color: #25232A;
    width: 100%;
    height: auto;
    overflow:hidden;
}