.icon-trabajo{
    width: 80px;
    height: 80px;
}

.container-icon{
    
    display: flex;
    align-items: center;
    justify-content: center;


}



.card{
    background-color: #35323E !important;
    height: 250px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: #838383 solid 2px !important;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.79);
    transition: 0.5s;
    text-decoration: none;


}

.card.card-job:hover{
    transform: scale(1.02);
}


.card.card-job:hover{
    background-color: #1C1B1F !important;
    border-color: #4a99c2ff !important;

}

.card:hover{
    box-shadow: 5px 5px 15px 0px rgba(31, 31, 31, 0.79);

}

.container{
    padding-top: 50px !important;
    margin-bottom: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}


.tags{
    color: #BDC1C6;
    transition: 0.7s;
}

.card-content{
    justify-content: space-between;
    padding: 20px;
}



.card-title{
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.7s;
}


.icon-job{
    margin: 50px;
    width: 100px;
}

.icon-card-job{
    font-size: 50px;
    margin: 50px 0 50px 0;
    color: #AEAAAE;
    transition: all 0.7s;
}

.card.card-job:hover > .card-content > i{
    color: #4A99C2;
    text-shadow: 0px 0px 8px #4A99C2;
    transform: scale(1.5);

}

.card.card-job:hover > .card-content > h5{
    color: #4A99C2;   
}
.card.card-job:hover > .card-content > .tags{
    color: #5a99bb;   
}